<!DOCTYPE html>
<html lang="en">
    <head>
         <meta charset="UTF-8">
         <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body align="center">
        <h1 align="center" style="color: blue;">Feedback</h1>
        <style>
            hr {
              width: 30%;
            }
        </style>
        <hr><br>
        Programme : 
        <select>
          <option value="option1" selected=>select an option</option>
          <option value="option2">Option 1</option>
          <option value="option3">Option 2</option>
          <option value="option4">Option 3</option>
        </select>

        <script src="" async defer></script>
    </body>
</html>



